
.container{
    background-color: lightgray;
    display:grid;
    grid-template-areas: 
        'header header'
        'nav nav'
        'imgbox content'
        'footer footer';
}  
.mainImg{
    grid-area: imgbox;
    background-color: aquamarine;
} 

.mainContent{
    grid-area: content;
    background-color: lightcoral;
}


header{
    grid-area:header;
    background-color: lightskyblue;
}
nav{
    grid-area:nav;
    background-color: blanchedalmond;
}
footer{
    grid-area:footer;
    background-color: floralwhite;
}

#hamburgerMenu{
    display:none;
}

@media only screen and (max-width: 600px) {
    .container{
    grid-template-areas: 
        'header'
        'nav'
        'imgbox'
        'content'
        'footer';
    grid-template-columns: 95vw;
    }

    #hamburgerMenu{
        display:inherit;
    }
    a.menu{
        display:none;
        margin:0;
    }
    
    
}




*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
    margin: 5px;
}

html{
    padding:0;
    margin:0;
}
body{
    padding:0;
    margin:0;
}

header{
    color: white;
    background-color: #e6d9dc;
    padding: 0;
    margin: 0;
}

#webname{
    background-color: #982649;
    font-weight: bolder;
    padding: 1rem;
    margin: 0;
    border: 0;
}

a.menu {
    text-decoration: none;
    color:#982649;
    width:fit-content;
    background-color: white;
    margin:5px;
    vertical-align: middle;
}

nav.menu{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align:left;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: navy;
    color: white;
    width:fit-content;
}

tr:nth-child(even) {
    background-color: paleturquoise;
}

form * {
    display: block;
    margin:auto;
    text-align: center;
}

#submit_button {
    background-color: #982649;
    border: none;
    border-radius: 4px;
    color: white;
}

#funList{
    display: None
}

#longBio{
    display: None
}

#introReadLess{
    display: None
}

a.menu:hover{
    color: #000;
    background-color: lightskyblue;

    font-weight: 600;
}