<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gryphon Chong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Gryphon's professional website.">
    <title>Gryphon Chong</title>
</head>

<body style="font-family: Arial">
    <header>
        <h1>Gryphon Chong</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label>Name:<br>
            <input><br>
            <label>Email:</label>
            <input><br>
            <label>Comment:</label>
            <input><br>
        </form>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>My Email</td>
                <td>(000) 000-0000</td>
            </tr>
        </table>

    </div>
    <p>Copyright 2025, Gryphon Chong</p>
</body>
</html>