<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gryphon Chong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Gryphon's professional website.">
    <title>Gryphon Chong</title>
</head>

<body onload="addYear()">
    <header>
        <h1 id="webname">Gryphon Chong</h1>
        <nav class="menu">
            <a class="menu" href="../index.html">Home</a>
            <a class="menu" href="cv.html">CV</a>
            <a class="menu" href="contact.html">Contact me</a>
            <a class="menu" href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="mainLayout">
        <h2>Find Me</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.3640169085966!2d-79.94539619999999!3d40.4450795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0xa4dc782d726fd9ee!2sTepper%20School%20of%20Business!5e0!3m2!1sen!2sus!4v1742501604292!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h2>Contact Me</h2>
        <form>
            <label>Name:<br></label>
            <input id = "name" required><br>
            <label>Email:</label>
            <input id = "email" required><br>
            <label>Comment:</label>
            <input id = "comment" required><br>
            <input type="submit" id="submit_button" value="Submit" onclick="checkForm()">
        </form>
        <p id="alert" style="text-align: center"> </p>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td>gchong@andrew.cmu.edu</td>
                <td>(000) 000-0000</td>
            </tr>
        </table>

    </div>
    <footer id="copyYear">Copyright , Gryphon Chong</footer>
</body>
</html>