<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gryphon Chong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Gryphon's professional website.">
    <title>Gryphon Chong</title>
</head>

<body>
    <header>
        <h1 id="webname">Gryphon Chong</h1>
        <nav class="menu"> 
            <a class="menu" href="../index.html">Home</a>
            <a class="menu" href="cv.html">CV</a>
            <a class="menu" href="contact.html">Contact me</a>
            <a class="menu" href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Thing 1</td>
                <td>explaination of what thing 1 is</td>
            </tr>
            <tr>
                <td>Thing 2</td>
                <td>explaination of what thing 2 is</td>
            </tr>
            <tr>
                <td>Thing 3</td>
                <td>explaination of what thing 3 is</td>
            </tr>
        </table>
        <a href="../static/resume.pdf">Resume PDF</a>
    </div>
    <p>Copyright 2025, Gryphon Chong</p>
</body>
</html>