<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gryphon Chong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Gryphon's professional website.">
    <title>Gryphon Chong</title>
</head>

<body onload="addYear(); highlightActive()">
    <header>
        <h1 id="webname">Gryphon Chong</h1>
        <nav class="menu">
            <a class="menu" href="../index.html">Home</a>
            <a class="menu" href="cv.html">CV</a>
            <a class="menu" href="contact.html">Contact me</a>
            <a class="menu" href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun!</h2>
        <button onclick="showList()">Click to see...</button>
        <ul id="funList" >
            <li>Photography</li>
            <li>Reading</li>
            <li>Board Games</li>
        </ul>
    </div>
    <footer id="copyYear">Copyright , Gryphon Chong</footer>
</body>
</html>