*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
    margin: 5px;
}

html{
    padding:0;
    margin:0;
}
body{
    padding:0;
    margin:0;
}

header{
    color: white;
    background-color: #e6d9dc;
    padding: 0;
    margin: 0;
}

#webname{
    background-color: #982649;
    font-weight: bolder;
    padding: 1rem;
    margin: 0;
    border: 0;
}

a.menu {
    text-decoration: none;
    color:#982649;
    width:fit-content;
    background-color: white;
    margin:5px;
    vertical-align: middle;
}

nav.menu{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align:left;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: navy;
    color: white;
    width:fit-content;
}

tr:nth-child(even) {
    background-color: paleturquoise;
}

form * {
    display: block;
    margin:auto;
    text-align: center;
}

#submit_button {
    background-color: #982649;
    border: none;
    border-radius: 4px;
    color: white;
}

#funList{
    display: None
}

#longBio{
    display: None
}

#introReadLess{
    display: None
}